Source: pytest-trio
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper-compat (= 13),
  python3-pytest (>= 3.3),
  python3-trio (>= 0.11),
  python3-async-generator | python3 (>> 3.7),
  python3-hypothesis (>= 3.70),
  python3-sortedcontainers (>= 2.1),
Standards-Version: 3.9.6
Homepage: https://github.com/python-trio/pytest-trio

Package: python3-pytest-trio
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
  python3-pytest (>= 3.3),
  python3-trio (>= 0.11),
Description: Pytest plugin for trio
 This plugin affords the "@pytest.mark.trio" decorator which you can use
 to execute async testcases in a Trio context.
 .
 Using async generators as fixtures is also supported.

